* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;


}

:root {
    --primary: #141922;
    --header: #080B12;
    --footer: #282828;
    --check: #ADFF2F;
    --text: #76777C;
    --ligth: #ffffff;
    --dark: #000000;
    --checktext: #D2D2D2;
}

.d-flex {
    display: flex;
}

img {
    width: 100%;
    display: block;
}

.btn {
    padding: 0.8rem 2rem;
    border: 1px solid;
    color: var(--ligth);
    border-radius: 2rem;
    font-weight: bold;
    font-size: 0.8rem;
}

.tx-center {
    text-align: center;
}

.col-2 {
    width: calc(100% / 12 *2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.wrapper {
    height: 100vh;
    width: 100%;
}


.main_side {
    height: calc(100% - 90px);
    width: 100%;

& .container{
    width: 100%;
    height: 100%;
}
}

.sidebar{
    width: 230px;
    height: 100%;
    background-color: var(--dark);
    overflow-y: auto;

    &::-webkit-scrollbar{
        width: 0px;
    }

    & h3{
        color: var(--ligth);
        padding: 1rem 0;
        padding-left: 1rem;
    }
    
}

.sidebar .menu_container{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar .logo{
    height: 90px;
    padding-left: 1rem;
    align-items: center;

    & img{
        vertical-align: middle;
        width: 70%;
    }
}

.side_list{
    gap: 0.5rem;
    align-items: center;
}

.sidebar .home{
    border-left: 3px solid var(--check);
    padding-left: calc(1rem - 3px);

    & a{
        color: var(--ligth);
    }
}

.sidebar li{
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    color: var(--text);
 
    & a{ 
    vertical-align: middle;
    font-weight: bold;
    color: var(--text);
    gap: 0.5rem;
    }
 
    & img{
     width: 2rem;
     vertical-align: middle;
    } 
 }

 .play_list li{
    padding-bottom: 1rem;

    & :not(.action){
        font-size: 0.8rem;
    }
 }

.action{
    line-height: 2rem;
}

.square{
    width: 2rem;
    aspect-ratio: 1;
    background-color: var(--text);
    line-height: 2rem;
    color: var(--dark);
    text-align: center;
}

.menu_btm{
    padding: 0 1rem;

    & a{
    color: var(--text);
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.3rem;
    }
    & .download{
        color: var(--text);
        width: 1.3rem;
        vertical-align: middle;
    }
}

.download_app{
    gap: 0.5rem;
}

.menu_btm .user{
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    border-top: 1px solid var(--text);
    margin-top: 0.5rem;
    gap: 0.5rem;
    align-items: center;

    & .user_name{
        font-weight: bold;
        color: var(--ligth);
    }
}

.menu_btm .user_icon{
    background-color: var(--text);
    border-radius: 50%;
    width: 1.5rem;
    aspect-ratio: 1;
    justify-content: center;
    align-items: flex-end;

    & img{
    border-radius: 50%;
    height: 100%;
    }
}

.mainpage_top{
    width: calc(100% - 230px);

    & .recent .row,.popular .row, .for_you .row{
        overflow-x: auto;
        background-color: var(--primary);

        &::-webkit-scrollbar{
            width: 0px;
        }
    }
}

.mainpage_header{
    height: 90px;
    width: 100%;
    background-color: var(--header);
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.mainpage{
    width: 100%;
    height: calc(100% - 90px);
    background-color: var(--primary);
    overflow-y: auto;

    &::-webkit-scrollbar{
        width: 12px;
    }

    &::-webkit-scrollbar-track{
        background-color: var(--ligth);
    }

    &::-webkit-scrollbar-thumb{
        background-color: var(--text);
        border: 3px solid var(--ligth);
        border-radius: 8px;
        margin-inline: 0.5rem;
    }
}

.nav_menu{
    gap: 1.5rem;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
    font-size: 0.8rem;
   
    & a{
        font-weight: bold;
        color: var(--text);
    }

    & .check{
        width: 33%;
        height: 3px;
        background-color: var(--check);
        margin: auto;
        margin-top: 0.3rem;
    }
}

.mainpage_top .container{
    padding: 0.5rem 1rem;

    & h2{
        color: var(--ligth);
        margin-bottom: 1.5rem;
    }

    & .row{
        margin: 0 -0.25rem;
    }

    & h4{
        color: var(--text);
        font-size: 0.8rem;
    }
}

.card{
    max-width: 250px;
    padding: 0.25rem;

    & h3{
        color: var(--ligth);
        margin: 1rem 0 0.5rem;
        font-size: 1rem;
    }

    & .cover{
        position: relative;
    }

    & .background{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        background-color: #00000074;
    }

    & .play{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        font-size: 5rem;
        color: var(--ligth);
        visibility: hidden;
    }
}

.mainpage_top .for_you, .mainpage_top .popular{

    & h2{
        margin-bottom: 0.5rem;
    }

    & h4{
        margin-bottom: 1.5rem;
    }
}

.popular img, .popular .background{
    border-radius: 50%;
}

.btm_page{
    width: 100%;
    height: 90px;
    position: relative;
    background-color: var(--footer);
    padding: 1rem 0.5rem;
    z-index: 100;

    & .container{
        height: 100%;
        width: 100%;
    }

    & .row{
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    & .btm_left, .btm_center{
        align-items: center;
        gap: 1rem;
    }
}

.btm_left .cover{
    align-items: center;
    gap: 0.5rem;

    & img{
        width: 50px;
        aspect-ratio: 1;
    }

    & h3{
        color: var(--ligth);
        font-size: 0.8rem;
    }

    & h4{
        color: var(--text);
        font-size: 0.6rem;
    }
}

.btm_left .function{
    gap: 1rem;
    color: var(--text);
}

.btm_center{
    padding: 0 1rem;
}

.btm_center .function{
    color: var(--ligth);
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 2rem;
    margin: auto;
    position: relative;
    
    & i{
        cursor: pointer;
    }

    & .function_left, .function_right{
        gap: 1.5rem;
    }

    & .play{
        font-size: 1.8rem;
        position: absolute;
        left: 50%;
        translate: -50%;
    }
}

.time_line{
    align-items: center;
    gap: 0.5rem;
    color: var(--checktext);
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    width: 100%;

    & .time_line_item{
        width: 80%;
        height: 5px;
        background-color: var(--text);
        margin: auto;
        border-radius: 3px;
        position: relative;
    }
}

.time_line_xxs{
    display: none;
}

.track{
    width: 30%;
    height: 5px;
    border-radius: 3px;
    background-color: var(--checktext);
    position: relative;
    }

.pointer{
    width: 0.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    translate: 50% -50%;
    background-color: var(--ligth);
    visibility: hidden;
    }

.btm_right{
    color: var(--ligth);
    font-size: 0.8rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: end;
    
    & .volume{
        width: 50%;
        max-width: 150px;
        min-width: 75px;
        height: 5px;
        background-color: var(--text);
        border-radius: 3px;
        position: relative;
    }
    
    & .track{
        width: 40%;
    }
}