*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;


}

:root{
    --primary: #141922;
    --header: #080B12;
    --footer: #282828;
    --active: #ADFF2F;
    --text: #76777C;
    --ligth: #ffffff;
    --dark: #000000;
    --active: #D2D2D2;
}